.recommendations {

  &__hawaii {
    background-image: url("../assets/hawaii.jpg");
  }

  &__iceland {
    background-image: url("../assets/iceland.jpg");
  }

  &__greece {
    background-image: url("../assets/greece.jpg");
  }
}
